extends index.pug
block content
    .listHead
        h3 user listing
        a(href="/")
            button#create-user create user
    ul
        each val in users
            div(class="user")
                li= val.username
                li= val.firstname
                li= val.lastname
                li= val.email
                li= val.age
                li= val.id
                .userButtons
                    a(href=`/edit?id=${val.id}`)
                        button#edit-user edit
                    a(href=`/deleteUser?id=${val.id}`)
                        button#delete-user delete