extends index.pug
block content
    .listHead
        h3 user listing
        a(href="/")
            button#create-user create user
    ul
        each val in users
            div(class="user")
                li= 'Username: ' + val.username
                li= 'First Name: ' + val.firstname
                li= 'Last Name: ' + val.lastname
                li= 'Email: ' + val.email
                li= 'Age: ' + val.age
                li= 'ID: ' + val._id
                .userButtons
                    a(href=`/edit?id=${val._id}`)
                        button#edit-user edit
                    a(href=`/deleteUser?id=${val._id}`)
                        button#delete-user delete