extends index.pug
block content
    .listHead
        h1(class="ui header") user listing
        a(href="/")
            button(class="ui pink button") create user
    ul.userList
        each val in users
            div(class="user")
                li= 'Username: ' + val.username
                li= 'First Name: ' + val.firstname
                li= 'Last Name: ' + val.lastname
                li= 'Email: ' + val.email
                li= 'Age: ' + val.age
                li= 'ID: ' + val._id
                .userButtons
                    a(href=`/edit?id=${val._id}`)
                        button(class="ui pink button") edit
                    a(href=`/deleteUser?id=${val._id}`)
                        button(class="ui pink button") delete